body{
  padding: 5px;
}
//Stylings for home listings form
.listings-cont{
  .listing-item-cont{
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    height: 175px;
    margin-bottom: 10px;
  }
  .image-cont{
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    img{
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  .text-cont{
    flex-basis: 70%;
    padding-left: 1vw;
    flex-grow: 1;
  }
}
// Stylings for Listing form 
.listing-form{
  display: grid;
  grid-template: 
    "Title"
    "Description"
    "Bid"
    "Image"
    "Category"/
    auto;
  gap: 10px;
  @mixin flex-container() {
    display: flex;
    flex-direction: row;
  }
  .title-container{
    @include flex-container;
    label{
      padding-right: 10px;
    }
    input{flex-grow: 1;}
  }
  .price-container{
    @include flex-container;
    width: 50%;
    #id_price_1{
      display: none;
    }
    label{
      padding-right: 10px;
    }
  }
  .description-container{
    display: flex;
    flex-direction: column;
  }

}

// Styles for listing.html
.listing-cont{
  display: flex;
  flex-direction: column;
  .title-watchlist-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .title{
      order: -1;
      margin-bottom: 0px;
    }
    .title-buttons{
      display: flex;
      flex-direction: row;
      .close-button{
        padding-right: 10px;
      }
    }
  }
  .no-watchlist-mes{
    font-size: small;
    max-width: 40vw;
  }
  .image-cont{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
      width: 100%;
      max-width: 600px;

    }
  }
  .price{
    font-size: large;
  }
  .bid-form-cont{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    #id_price_1{
      display: none;
    }
    .label{
      padding-right: 5px;
    }
  }
  .comment-cont{
    display: flex;
    flex-direction: column;
    .comment-form{
      form{
        display: flex;
        flex-direction: column;
        label[for="id_text"]{
          margin-bottom: 0px;
        }
        #id_text{
          margin-bottom: 5px;
        }
      }
    }
    .comments{
      padding-top: 10px;
      .comment-cont{
        border: 1px solid gray;
        margin-bottom: 10px;
        .text, .user{
          padding-left: 5px;
        }
        .text{
          font-family: sans-serif;
        }
      }
    }
  }
}