$black: rgba(0,0,0,0.87);
$main-font: arial,sans-serif;
$grey: #c8cace;
$light-grey: #f8f9fa;



body{
  color: black;
  font-family: $main-font;
}
.header-item {
  padding: 10px;
  a{
    line-height: 24px;
    color: $black;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}
.header{
  display: flex;
  flex-direction: row-reverse;
}

.google-search{
  height: 90vh;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}
.search-query-container{
  width: 65%;
  height: 44px;
  border-radius: 24px;
  border: 1px solid $grey;
  place-self: end center;
  display: flex;
  flex-direction: row;
}
.search-query:focus-visible{
  border: none;
  outline: none;
}
.search-query{
  flex-grow: 1;
  outline: none;
  border: none;
  margin: 0px 20px;
  font-size: 20px;
}
.button-link-container{
  flex-grow: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-links{
  background-color: $light-grey;
  border: 1px solid $grey;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 3px 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}
.button-links:hover{
  cursor: pointer;
}