{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
  <h1>Create a new listing:</h1>
  <form action="{% url "new-listing" %}" method="POST" class="listing-form">
    {% csrf_token %}
    <div class="user-container">
        {{listingform.user.label_tag}}
        {{listingform.user}}
    </div>
    <div class="title-container">
      {{listingform.title.label_tag}}
      {{listingform.title}}
    </div>
    <div class="description-container">
      {{listingform.description.label_tag}}
      {{listingform.description}}
    </div>
    <div class="price-container">
      {{listingform.price.label_tag}}
      {{listingform.price}}
    </div>
    <div class="image-container">
      {{listingform.image.label_tag}}
      {{listingform.image}}
    </div>
    <div class="category-container">
      {{listingform.category.label_tag}}
      {{listingform.category}}
    </div>
    <input type="submit" value="Create new listing">
  </form>
{% else %}
<h1>Please sign in or register to create a listing</h1>
{%endif%}
{% endblock %}